<!-- docx-ocr.component.html -->
<div class="docx-ocr-container">
  <h2>Upload and Select Text from DOCX</h2>

  <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  <!-- <input type="file" (change)="onFileSelected($event)" accept=".docx" /> -->

  <div *ngIf="docxContent" class="docx-viewer" (mouseup)="onTextSelect($event)">
    <div [innerHTML]="docxContent"></div>
  </div>

  <div *ngIf="selectedText">
    <h3>Selected Text:</h3>
    <p>{{ selectedText }}</p>
  </div>
</div>

<router-outlet />
